---
const links = [
  {
    label: 'Sobre mi',
    href: '#',
  },
  {
    label: 'Experiencia',
    href: '#',
  },
  {
    label: 'Proyectos',
    href: '#',
  },
  {
    label: 'Contacto',
    href: '#',
  }
]
---
<header>
  <nav>
    <ul role="list">
      {
        links.map(link => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))  
      }
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    margin-inline: 1.25rem;
  }
  nav {
    position: fixed;
    top: 1rem;
    padding-inline: 1rem;
    background: var(--header-bg);
    border-radius: 2rem;
    border: 1px solid var(--border);
  }
  ul {
    display: flex;
    column-gap: 0.5rem;
    padding-inline: 0;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.875rem;
  }

  @media screen and (min-width: 768px) {
    a {
      font-size: 1rem;
    }
  }
</style>